@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  background-color: #232931;
  color: #EEEEEE;
}

h1 {
  border-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
  background-color: #393E46;
  text-align: center;
  padding: 1.25rem;
}

nav {
  border-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
  background-color: #393E46;
}

aside {
  border-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
  background-color: #393E46;
  position: absolute;
  right: 0;
  margin-right: 0.625rem;
  padding: 0.5rem;
}

a:link {
  color: #4ECCA3;
  text-decoration: none;
}

a:visited {
  color: #DE6B48;
  text-decoration: none;
}

.project {
  border-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
  background-color: #393E46;
  margin-right: 38rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

footer {
  border-top-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
}

.about-me {
  border-style: solid;
  border-width: thin;
  border-color: #4ECCA3;
  background-color: #393E46;
  padding: 0.625rem;
}
